.container {
    padding-top: 10px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.form-error-msg {
    color: #ffb347;
    margin: 0px;
}

.expression-form {
    padding-top: 25px;
    padding-bottom: 25px;
}

.form-input {
    background-color: #092532;
    color: white;
    opacity: 0.8;
    border-color: black;
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    margin-bottom: 4px;
    margin-left: 1px;
    margin-right: 1px;
    width: 146px;
    font-size: 20px;
}

.form-input:hover, 
.form-input:focus, 
.form-input:active  {
    opacity: 1;
    background: rgba(255,255,255,.01);
    transition: opacity .4s, border-color .4s, background 1s;
    border-color: rgb(198, 211, 19);
}

.form-input:focus, 
.form-input:active {
    background: rgba(255,255,255,.05);
}

.red {
    border-color: red;
    margin-bottom: 0px;
    width: 300px;
}

.green {
    border-color: green;
    margin-bottom: 0px;
    width: 300px;
}

.blue {
    border-color: blue;
    margin-bottom: 0px;
    width: 300px;
}

@media only screen and (max-width: 600px) {
    .form-input {
        width: 70%;
    }
  }
